.card {
    border: 2px black solid;
    padding: 1rem;
    border-radius: 10px;
    margin: 15px auto;
    box-shadow: 5px 5px 10px 2px #333333;
    min-width: 300px;
}

.verde {
    background-color: green;
}

.grigio {
    background-color: rgb(164, 162, 162);
}

.giallo {
    background-color: yellow;
}